## Advanced Problems

### 1\. High-value customers

We want to send all of the high-value customers a special VIP gift. High value is defined as those who've made at least 1 order with a total value (not including discount) equal to $10,000 or more. Only consider orders made in the year 2016.

In [9]:
SELECT O.CustomerID, CompanyName, O.OrderID, SUM(Quantity * UnitPrice) AS TotalOrderAmount
FROM Orders AS O
    INNER JOIN Customers AS C
        ON O.CustomerID = C.CustomerID
    INNER JOIN OrderDetails AS OD
        ON O.OrderID = OD.OrderID
WHERE CAST(OrderDate AS DATE) >= '20160101' AND CAST(OrderDate AS DATE) <= '20161231'
GROUP BY O.CustomerID, CompanyName, O.OrderID, OrderDate
HAVING SUM(Quantity * UnitPrice) >= 10000
ORDER BY TotalOrderAmount DESC;

CustomerID,CompanyName,OrderID,TotalOrderAmount
QUICK,QUICK-Stop,10865,17250.00
SAVEA,Save-a-lot Markets,11030,16321.90
HANAR,Hanari Carnes,10981,15810.00
KOENE,Königlich Essen,10817,11490.70
RATTC,Rattlesnake Canyon Grocery,10889,11380.00
HUNGO,Hungry Owl All-Night Grocers,10897,10835.24

### 2\. High-value customers - total orders

The manager has changed his mind. Instead of requiring that customers have at least one individual orders totaling 10,000 or more, he wants to define high-value customers as those who have orders totaling 15,000 or more in 2016.

In [41]:
SELECT O.CustomerID, C.CompanyName, SUM(Quantity * UnitPrice) AS TotalOrderAmount
FROM Orders AS O
    INNER JOIN Customers AS C
        ON O.CustomerID = C.CustomerID
    INNER JOIN OrderDetails AS OD
        ON O.OrderID = OD.OrderID
WHERE CAST(OrderDate AS DATE) >= '20160101' AND CAST(OrderDate AS DATE) <= '20161231'
GROUP BY O.CustomerID, C.CompanyName
HAVING SUM(Quantity * UnitPrice) > 15000
ORDER BY TotalOrderAmount DESC;

CustomerID,CompanyName,TotalOrderAmount
SAVEA,Save-a-lot Markets,42806.25
ERNSH,Ernst Handel,42598.90
QUICK,QUICK-Stop,40526.99
HANAR,Hanari Carnes,24238.05
HUNGO,Hungry Owl All-Night Grocers,22796.34
RATTC,Rattlesnake Canyon Grocery,21725.60
KOENE,Königlich Essen,20204.95
FOLKO,Folk och fä HB,15973.85
WHITC,White Clover Markets,15278.90

### 3\. High-value customers-with discount

Change the above query to use the discount when calculating high-value customers. Order by the total amount which includes the discount.

In [23]:
SELECT O.CustomerID,
C.CompanyName, 
SUM(Quantity * UnitPrice) AS [Totals Without Discount], 
SUM((Quantity * UnitPrice) * (1 - Discount)) AS [Totals With Discount]
FROM Orders AS O
    INNER JOIN Customers AS C
        ON O.CustomerID = C.CustomerID
    INNER JOIN OrderDetails AS OD
        ON O.OrderID = OD.OrderID
WHERE CAST(OrderDate AS DATE) >= '20160101' AND CAST(OrderDate AS DATE) <= '20161231'
GROUP BY O.CustomerID, C.CompanyName
HAVING SUM((Quantity * UnitPrice) * (1 - Discount)) >= 15000
ORDER BY [Totals With Discount] DESC;

CustomerID,CompanyName,Totals Without Discount,Totals With Discount
ERNSH,Ernst Handel,42598.90,41210.65002441406
QUICK,QUICK-Stop,40526.99,37217.315002441406
SAVEA,Save-a-lot Markets,42806.25,36310.10977935791
HANAR,Hanari Carnes,24238.05,23821.199989318848
RATTC,Rattlesnake Canyon Grocery,21725.60,21238.270441055298
HUNGO,Hungry Owl All-Night Grocers,22796.34,20402.11993408203
KOENE,Königlich Essen,20204.95,19582.773986816406
WHITC,White Clover Markets,15278.90,15278.89998626709

### 4\. Month-end orders

At the end of the month, salespeople are likely to try much harder to get orders, to meet their month-end quotas. Show all orders made on the last day of the month. Order by EmployeeID and OrderID.

In [35]:

SELECT EmployeeID, OrderID, OrderDate
FROM Orders
WHERE CAST(OrderDate AS DATE) = EOMONTH(OrderDate)
ORDER BY EmployeeID, OrderID;

EmployeeID,OrderID,OrderDate
1,10461,2015-02-28 00:00:00.000
1,10616,2015-07-31 00:00:00.000
2,10583,2015-06-30 00:00:00.000
2,10686,2015-09-30 00:00:00.000
2,10989,2016-03-31 00:00:00.000
2,11060,2016-04-30 00:00:00.000
3,10432,2015-01-31 00:00:00.000
3,10806,2015-12-31 11:00:00.000
3,10988,2016-03-31 00:00:00.000
3,11063,2016-04-30 00:00:00.000
4,10343,2014-10-31 00:00:00.000
4,10522,2015-04-30 00:00:00.000
4,10584,2015-06-30 00:00:00.000
4,10617,2015-07-31 00:00:00.000
4,10725,2015-10-31 00:00:00.000
4,10807,2015-12-31 11:00:00.000
4,11061,2016-04-30 00:00:00.000
4,11062,2016-04-30 00:00:00.000
5,10269,2014-07-31 00:00:00.000
6,10317,2014-09-30 00:00:00.000
7,10490,2015-03-31 00:00:00.000
8,10399,2014-12-31 00:00:00.000
8,10460,2015-02-28 00:00:00.000
8,10491,2015-03-31 00:00:00.000
8,10987,2016-03-31 00:00:00.000
9,10687,2015-09-30 00:00:00.000

### 5\. Orders with many line items

Show the 10 orders with the most line items, in order of total line items. If an order has the same number of line items, include it.

In [55]:
SELECT TOP(10) WITH TIES
 OrderID, 
 COUNT(*) AS TotalOrderDetails
FROM OrderDetails
GROUP BY OrderID
ORDER BY TotalOrderDetails DESC;

OrderID,TotalOrderDetails
11077,25
10979,6
10657,6
10847,6
10845,5
10836,5
10714,5
10670,5
10691,5
10698,5
10553,5
10555,5
10558,5
10607,5
10612,5
10623,5
10273,5
10294,5
10309,5
10324,5
10325,5
10337,5
10360,5
10382,5
10393,5
10406,5
10458,5
10465,5
10514,5
10515,5
10537,5
10962,5
10861,5
10893,5
11021,5
11031,5
11064,5

### 6\. Orders-random assortment

Show a random set of 2% of all orders. Return the OrderID and a column with a random number.

In [76]:
SELECT TOP (2) PERCENT OrderID, ABS(CHECKSUM(NEWID())) AS RandomNumber
FROM Orders
ORDER BY ABS(CHECKSUM(NEWID()));

OrderID,RandomNumber
10293,8200421
10757,11064426
10423,17486814
10849,21733965
10737,24145417
10624,24243608
10946,27200990
10273,27632865
10461,33356595
10683,34730165
10367,35095170
10299,35280383
10471,39466612
10734,44146986
10715,45891370
10971,46515145
10905,46875342

### 7\. Orders-accidental double-entry

A line item was entered twice on an order, each time with a different ProductID, but the same quantity. The quantity is 60 or more, show all the OrderIDs with line items that match this in order of OrderID.

In [103]:
SELECT OrderID
FROM OrderDetails
WHERE Quantity >= 60
GROUP BY OrderID, Quantity
HAVING COUNT(*) > 1
ORDER BY OrderID;

OrderID
10263
10263
10658
10990
11030

### 8\. Orders-accidental double-entry details

Based on the previous question, we now want to show details of the order, for orders match the above criteria.

In [107]:
--First method using subquery only

SELECT OrderID, ProductID, UnitPrice, Quantity, Discount
FROM OrderDetails
WHERE OrderID IN (  SELECT OrderID
                    FROM OrderDetails
                    WHERE Quantity >= 60
                    GROUP BY OrderID, Quantity
                    HAVING COUNT(*) > 1);

GO

--Second method using CTE and a subquery
WITH Duplicates
AS
(   SELECT OrderID
    FROM OrderDetails
    WHERE Quantity >= 60
    GROUP BY OrderID, Quantity
    HAVING COUNT(*) > 1
)

SELECT OrderID, ProductID, UnitPrice, Quantity, Discount
FROM OrderDetails
WHERE OrderID IN (SELECT OrderID FROM Duplicates)
ORDER BY OrderID;

GO

--Third method using a CTE and a JOIN
WITH Duplicates
AS
(   SELECT DISTINCT OrderID
    FROM OrderDetails
    WHERE Quantity >= 60
    GROUP BY OrderID, Quantity
    HAVING COUNT(*) > 1
)


SELECT DISTINCT OD.OrderID, ProductID, UnitPrice, Quantity, Discount
FROM OrderDetails AS OD
    INNER JOIN Duplicates AS D
        ON OD.OrderID = D.OrderID
ORDER BY OrderID;

OrderID,ProductID,UnitPrice,Quantity,Discount
10263,16,13.90,60,0.25
10263,24,3.60,65,0
10263,30,20.70,60,0.25
10263,74,8.00,65,0.25
10658,21,10.00,60,0
10658,40,18.40,70,0.05
10658,60,34.00,55,0.05
10658,77,13.00,70,0.05
10990,21,10.00,65,0
10990,34,14.00,60,0.15
10990,55,24.00,65,0.15
10990,61,28.50,66,0.15
11030,2,19.00,100,0.25
11030,5,21.35,70,0
11030,29,123.79,60,0.25
11030,59,55.00,100,0.25

OrderID,ProductID,UnitPrice,Quantity,Discount
10263,16,13.90,60,0.25
10263,24,3.60,65,0
10263,30,20.70,60,0.25
10263,74,8.00,65,0.25
10658,21,10.00,60,0
10658,40,18.40,70,0.05
10658,60,34.00,55,0.05
10658,77,13.00,70,0.05
10990,21,10.00,65,0
10990,34,14.00,60,0.15
10990,55,24.00,65,0.15
10990,61,28.50,66,0.15
11030,2,19.00,100,0.25
11030,5,21.35,70,0
11030,29,123.79,60,0.25
11030,59,55.00,100,0.25

OrderID,ProductID,UnitPrice,Quantity,Discount
10263,16,13.90,60,0.25
10263,24,3.60,65,0
10263,30,20.70,60,0.25
10263,74,8.00,65,0.25
10658,21,10.00,60,0
10658,40,18.40,70,0.05
10658,60,34.00,55,0.05
10658,77,13.00,70,0.05
10990,21,10.00,65,0
10990,34,14.00,60,0.15
10990,55,24.00,65,0.15
10990,61,28.50,66,0.15
11030,2,19.00,100,0.25
11030,5,21.35,70,0
11030,29,123.79,60,0.25
11030,59,55.00,100,0.25

### 9\. Orders-accidental double-entry details, derived table

Perform the same query as above but this time using a derived table.

In [106]:
SELECT OrderDetails.OrderID, ProductID, UnitPrice, Quantity, Discount
FROM OrderDetails
    INNER JOIN (
        SELECT DISTINCT OrderID
        FROM OrderDetails
        WHERE Quantity >= 60
        GROUP BY OrderID, Quantity
        HAVING COUNT(*) > 1
    ) AS Duplicates
        ON OrderDetails.OrderID = Duplicates.OrderID;

OrderID,ProductID,UnitPrice,Quantity,Discount
10263,16,13.90,60,0.25
10263,24,3.60,65,0
10263,30,20.70,60,0.25
10263,74,8.00,65,0.25
10658,21,10.00,60,0
10658,40,18.40,70,0.05
10658,60,34.00,55,0.05
10658,77,13.00,70,0.05
10990,21,10.00,65,0
10990,34,14.00,60,0.15
10990,55,24.00,65,0.15
10990,61,28.50,66,0.15
11030,2,19.00,100,0.25
11030,5,21.35,70,0
11030,29,123.79,60,0.25
11030,59,55.00,100,0.25

### 10\. Late orders

Some customers are complaining about their orders arriving late. Which orders are late? Sort the results by OrderID.

In [119]:
SELECT OrderID, 
CAST(OrderDate AS DATE) AS OrderDate, 
CAST(RequiredDate AS DATE) AS RequiredDate, 
CAST(ShippedDate AS DATE) AS ShippedDate
FROM Orders
WHERE RequiredDate <= ShippedDate
ORDER BY OrderID;

OrderID,OrderDate,RequiredDate,ShippedDate
10264,2014-07-24,2014-08-21,2014-08-23
10271,2014-08-01,2014-08-29,2014-08-30
10280,2014-08-14,2014-09-11,2014-09-12
10302,2014-09-10,2014-10-08,2014-10-09
10309,2014-09-19,2014-10-17,2014-10-23
10380,2014-12-12,2015-01-09,2015-01-16
10423,2015-01-23,2015-02-06,2015-02-24
10427,2015-01-27,2015-02-24,2015-03-03
10433,2015-02-03,2015-03-03,2015-03-04
10451,2015-02-19,2015-03-05,2015-03-12
10483,2015-03-24,2015-04-21,2015-04-25
10515,2015-04-23,2015-05-07,2015-05-23
10523,2015-05-01,2015-05-29,2015-05-30
10545,2015-05-22,2015-06-19,2015-06-26
10578,2015-06-24,2015-07-22,2015-07-25
10593,2015-07-09,2015-08-06,2015-08-13
10596,2015-07-11,2015-08-08,2015-08-12
10660,2015-09-08,2015-10-06,2015-10-15
10663,2015-09-10,2015-09-24,2015-10-03
10687,2015-09-30,2015-10-28,2015-10-30
10705,2015-10-15,2015-11-12,2015-11-18
10709,2015-10-17,2015-11-14,2015-11-20
10726,2015-11-03,2015-11-17,2015-12-05
10727,2015-11-03,2015-12-01,2015-12-05
10749,2015-11-20,2015-12-18,2015-12-19
10777,2015-12-15,2015-12-29,2016-01-21
10779,2015-12-16,2016-01-13,2016-01-14
10788,2015-12-22,2016-01-19,2016-01-19
10807,2015-12-31,2016-01-28,2016-01-30
10816,2016-01-06,2016-02-03,2016-02-04
10827,2016-01-12,2016-01-26,2016-02-06
10828,2016-01-13,2016-01-27,2016-02-04
10847,2016-01-22,2016-02-05,2016-02-10
10924,2016-03-04,2016-04-01,2016-04-08
10927,2016-03-05,2016-04-02,2016-04-08
10960,2016-03-19,2016-04-02,2016-04-08
10970,2016-03-24,2016-04-07,2016-04-24
10978,2016-03-26,2016-04-23,2016-04-23
10998,2016-04-03,2016-04-17,2016-04-17

### 11\. Late orders-which employees?

Some salespeople have more orders arriving late than others. Maybe they're not following up on the order process, and need more training. Which salespeople have the most orders arriving late?

In [2]:
SELECT O.EmployeeID, E.LastName, COUNT(*) AS TotalLateOrders
FROM Orders AS O
    INNER JOIN Employees AS E
        ON O.EmployeeID = E.EmployeeID
WHERE RequiredDate <= ShippedDate
GROUP BY O.EmployeeID, E.LastName
ORDER BY TotalLateOrders DESC;

EmployeeID,LastName,TotalLateOrders
4,Peacock,10
3,Leverling,5
8,Callahan,5
9,Dodsworth,5
7,King,4
2,Fuller,4
1,Davolio,3
6,Suyama,3

### 12\. Late orders vs. total orders

The VP of sales, has been doing some more thinking on the problem of late orders. She realizes that just looking at the number of orders arriving late for each salesperson isnt' a good idea. It needs to be compared against the _total_ number of orders per salesperson. Return the columns EmployeeID, LastName, AllOrders, LateOrders.

In [16]:
WITH AllOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS AllOrders
    FROM Orders
    GROUP BY EmployeeID
),
LateOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS LateOrders
    FROM Orders
    WHERE RequiredDate <= ShippedDate
    GROUP BY EmployeeID
)
SELECT LO.EmployeeID, E.LastName, AO.AllOrders, LO.LateOrders
FROM Employees AS E
    INNER JOIN AllOrders AS AO
        ON E.EmployeeID = AO.EmployeeID
    INNER JOIN LateOrders AS LO
        ON E.EmployeeID = LO.EmployeeID
ORDER BY EmployeeID;

EmployeeID,LastName,AllOrders,LateOrders
1,Davolio,123,3
2,Fuller,96,4
3,Leverling,127,5
4,Peacock,156,10
6,Suyama,67,3
7,King,72,4
8,Callahan,104,5
9,Dodsworth,43,5

### 13\. Late orders vs total orders-missing employee

There's an employee missing in the answer from the problem above. Fix the SQL to show all employees who have taken orders.

In [12]:
With AllOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS AllOrders
    FROM Orders
    GROUP BY EmployeeID
),
LateOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS LateOrders
    FROM Orders
    WHERE RequiredDate <= ShippedDate
    GROUP BY EmployeeID
)
SELECT E.EmployeeID, E.LastName, AO.AllOrders, LO.LateOrders
FROM Employees AS E
    INNER JOIN AllOrders AS AO
        ON E.EmployeeID = AO.EmployeeID
    LEFT OUTER JOIN LateOrders AS LO
        ON E.EmployeeID = LO.EmployeeID
ORDER BY EmployeeID;

EmployeeID,LastName,AllOrders,LateOrders
1,Davolio,123,3
2,Fuller,96,4
3,Leverling,127,5
4,Peacock,156,10
5,Buchanan,42,NULL
6,Suyama,67,3
7,King,72,4
8,Callahan,104,5
9,Dodsworth,43,5

### 14\. Late orders vs. total orders-fix null

Continuing on the answer from the above query, fix the results for row 5 - Buchanan. He should have a 0 instead of NULL in LateOrders.

In [15]:
With AllOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS AllOrders
    FROM Orders
    GROUP BY EmployeeID
),
LateOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS LateOrders
    FROM Orders
    WHERE RequiredDate <= ShippedDate
    GROUP BY EmployeeID
)
SELECT E.EmployeeID, E.LastName, AO.AllOrders, COALESCE(LO.LateOrders, 0) AS LateOrders
FROM Employees AS E
    INNER JOIN AllOrders AS AO
        ON E.EmployeeID = AO.EmployeeID
    LEFT OUTER JOIN LateOrders AS LO
        ON E.EmployeeID = LO.EmployeeID
ORDER BY EmployeeID;

EmployeeID,LastName,AllOrders,LateOrders
1,Davolio,123,3
2,Fuller,96,4
3,Leverling,127,5
4,Peacock,156,10
5,Buchanan,42,0
6,Suyama,67,3
7,King,72,4
8,Callahan,104,5
9,Dodsworth,43,5

### 15\. Late orders vs. total orders-percentage

Using the same query as above, get the percentage of late orders over total orders.

In [19]:
With AllOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS AllOrders
    FROM Orders
    GROUP BY EmployeeID
),
LateOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS LateOrders
    FROM Orders
    WHERE RequiredDate <= ShippedDate
    GROUP BY EmployeeID
)
SELECT E.EmployeeID AS [Employee ID], 
E.LastName AS [Last Name], 
AO.AllOrders AS [All Orders], 
COALESCE(LO.LateOrders, 0) AS [Late Orders],
(CAST(COALESCE(LO.LateOrders, 0) AS FLOAT) / CAST(AO.AllOrders AS FLOAT)) AS [Percent Late Orders]
FROM Employees AS E
    INNER JOIN AllOrders AS AO
        ON E.EmployeeID = AO.EmployeeID
    LEFT OUTER JOIN LateOrders AS LO
        ON E.EmployeeID = LO.EmployeeID
ORDER BY [Employee ID];

Employee ID,Last Name,All Orders,Late Orders,Percent Late Orders
1,Davolio,123,3,0.024390243902439025
2,Fuller,96,4,0.041666666666666664
3,Leverling,127,5,0.03937007874015748
4,Peacock,156,10,0.0641025641025641
5,Buchanan,42,0,0
6,Suyama,67,3,0.04477611940298507
7,King,72,4,0.05555555555555555
8,Callahan,104,5,0.04807692307692308
9,Dodsworth,43,5,0.11627906976744186

### 16\. Late orders vs. total orders-fix decimal

The above query returns the percent late orders column as a decimal. Now to make the output easier to read, cut the PercentLateOrders off at 2 digits to the right of the decimal point.

In [39]:
With AllOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS AllOrders
    FROM Orders
    GROUP BY EmployeeID
),
LateOrders
AS
(
    SELECT EmployeeID, COUNT(*) AS LateOrders
    FROM Orders
    WHERE RequiredDate <= ShippedDate
    GROUP BY EmployeeID
)
SELECT E.EmployeeID AS [Employee ID], 
E.LastName AS [Last Name], 
AO.AllOrders AS [All Orders], 
COALESCE(LO.LateOrders, 0) AS [Late Orders],
CAST(
        CAST(COALESCE(LO.LateOrders, 0) AS FLOAT) / CAST(AO.AllOrders AS FLOAT) 
    AS DECIMAL(10,2))
    AS [Percent Late Orders]
FROM Employees AS E
    INNER JOIN AllOrders AS AO
        ON E.EmployeeID = AO.EmployeeID
    LEFT OUTER JOIN LateOrders AS LO
        ON E.EmployeeID = LO.EmployeeID
ORDER BY [Employee ID];

Employee ID,Last Name,All Orders,Late Orders,Percent Late Orders
1,Davolio,123,3,0.02
2,Fuller,96,4,0.04
3,Leverling,127,5,0.04
4,Peacock,156,10,0.06
5,Buchanan,42,0,0.00
6,Suyama,67,3,0.04
7,King,72,4,0.06
8,Callahan,104,5,0.05
9,Dodsworth,43,5,0.12

### 17\. Customer grouping

The VP of sales would like to do a sales campaign for existing customers. He'd like to categorize customers into groups, based on how much they ordered in 2016. Then, depending on which group the customer is in, he will target the customer with different sales materials. The customer grouping categories are 0 to 1,000, 1,000 to 5,000, 5,000 to 10,000 and over 10,000.

In [227]:
WITH Orders2016
AS
(
    SELECT O.CustomerID, 
           CompanyName, 
           SUM(Quantity * UnitPrice) AS TotalOrderAmount
    FROM Orders AS O
        INNER JOIN OrderDetails AS OD
            ON O.OrderID = OD.OrderID
        INNER JOIN Customers AS C
            ON O.CustomerID = C.CustomerID
    WHERE CAST(OrderDate AS DATE) >= '01/01/2016' AND CAST(OrderDate AS DATE) <= '12/31/2016'
    GROUP BY O.CustomerID, CompanyName
) 
SELECT  CustomerID, 
        CompanyName,
        TotalOrderAmount,
        CASE
            WHEN TotalOrderAmount BETWEEN 0 AND 1000 THEN 'Low'
            WHEN TotalOrderAmount BETWEEN 1001 AND 5000 THEN 'Medium'
            WHEN TotalOrderAmount BETWEEN 5001 AND 10000 THEN 'High'
            WHEN TotalOrderAmount > 10000 THEN 'Very High'
        END AS CustomerGroup
FROM Orders2016
ORDER BY CustomerID;

CustomerID,CompanyName,TotalOrderAmount,CustomerGroup
ALFKI,Alfreds Futterkiste,2302.20,Medium
ANATR,Ana Trujillo Emparedados y helados,514.40,Low
ANTON,Antonio Moreno Taquería,660.00,Low
AROUT,Around the Horn,5838.50,High
BERGS,Berglunds snabbköp,8110.55,High
BLAUS,Blauer See Delikatessen,2160.00,Medium
BLONP,Blondesddsl père et fils,730.00,Low
BOLID,Bólido Comidas preparadas,280.00,Low
BONAP,Bon app',7185.90,High
BOTTM,Bottom-Dollar Markets,12227.40,Very High
BSBEV,B's Beverages,2431.00,Medium
CACTU,Cactus Comidas para llevar,1576.80,Medium
CHOPS,Chop-suey Chinese,4429.40,Medium
COMMI,Comércio Mineiro,513.75,Low
CONSH,Consolidated Holdings,931.50,Low
DRACD,Drachenblut Delikatessen,2809.61,Medium
DUMON,Du monde entier,860.10,Low
EASTC,Eastern Connection,9569.31,High
ERNSH,Ernst Handel,42598.90,Very High
FOLKO,Folk och fä HB,15973.85,Very High
FRANK,Frankenversand,5587.00,High
FRANR,France restauration,2252.06,Medium
FRANS,Franchi S.p.A.,1296.00,Medium
FURIB,Furia Bacalhau e Frutos do Mar,68.00,Low
GALED,Galería del gastrónomo,207.50,Low
GODOS,Godos Cocina Típica,7064.05,High
GOURL,Gourmet Lanchonetes,497.00,Low
GREAL,Great Lakes Food Market,10562.58,Very High
HANAR,Hanari Carnes,24238.05,Very High
HILAA,HILARION-Abastos,6132.30,High
HUNGO,Hungry Owl All-Night Grocers,22796.34,Very High
ISLAT,Island Trading,2684.60,Medium
KOENE,Königlich Essen,20204.95,Very High
LACOR,La corne d'abondance,1992.05,Medium
LAMAI,La maison d'Asie,1549.95,Medium
LAUGB,Laughing Bacchus Wine Cellars,187.00,Low
LEHMS,Lehmanns Marktstand,3342.85,Medium
LETSS,Let's Stop N Shop,1450.60,Medium
LILAS,LILA-Supermercado,5994.06,High
LINOD,LINO-Delicateses,10085.60,Very High
LONEP,Lonesome Pine Restaurant,1709.40,Medium
MAGAA,Magazzini Alimentari Riuniti,1693.00,Medium
MAISD,Maison Dewey,5000.20,NULL
MORGK,Morgenstern Gesundkost,245.00,Low
NORTS,North/South,45.00,Low
OCEAN,Océano Atlántico Ltda.,3031.00,Medium
OLDWO,Old World Delicatessen,5337.65,High
OTTIK,Ottilies Käseladen,3012.70,Medium
PERIC,Pericles Comidas clásicas,1496.00,Medium
PICCO,Piccolo und mehr,4393.75,Medium
PRINI,Princesa Isabel Vinhos,2633.90,Medium
QUEDE,Que Delícia,1353.60,Medium
QUEEN,Queen Cozinha,7007.65,High
QUICK,QUICK-Stop,40526.99,Very High
RANCH,Rancho grande,1694.70,Medium
RATTC,Rattlesnake Canyon Grocery,21725.60,Very High
REGGC,Reggiani Caseifici,4263.00,Medium
RICAR,Ricardo Adocicados,7312.00,High
RICSU,Richter Supermarkt,5497.90,High
ROMEY,Romero y tomillo,726.89,Low
SANTG,Santé Gourmet,3976.75,Medium
SAVEA,Save-a-lot Markets,42806.25,Very High
SEVES,Seven Seas Imports,1630.00,Medium
SIMOB,Simons bistro,244.30,Low
SPECD,Spécialités du monde,2371.00,Medium
SPLIR,Split Rail Beer & Ale,1117.00,Medium
SUPRD,Suprêmes délices,11862.50,Very High
THEBI,The Big Cheese,69.60,Low
THECR,The Cracker Box,326.00,Low
TOMSP,Toms Spezialitäten,910.40,Low
TORTU,Tortuga Restaurante,1874.50,Medium
TRADH,Tradição Hipermercados,4401.62,Medium
TRAIH,Trail's Head Gourmet Provisioners,237.90,Low
VAFFE,Vaffeljernet,4333.50,Medium
VICTE,Victuailles en stock,3022.00,Medium
WANDK,Die Wandernde Kuh,1564.00,Medium
WARTH,Wartian Herkku,300.00,Low
WELLI,Wellington Importadora,1245.00,Medium
WHITC,White Clover Markets,15278.90,Very High
WILMK,Wilman Kala,1987.00,Medium
WOLZA,Wolski Zajazd,1865.10,Medium

### 18\. Customer grouping-fix null

There's a problem with the answer for the previous question. The CustomerGroup value for one of the rows is null. Fix the SQL so that there are no nulls in the CustomerGroup field.

In [77]:
WITH Orders2016
AS
(
    SELECT O.CustomerID, 
           CompanyName, 
           SUM(Quantity * UnitPrice) AS TotalOrderAmount
    FROM Orders AS O
        INNER JOIN OrderDetails AS OD
            ON O.OrderID = OD.OrderID
        INNER JOIN Customers AS C
            ON O.CustomerID = C.CustomerID
    WHERE CAST(OrderDate AS DATE) >= '01/01/2016' AND CAST(OrderDate AS DATE) <= '12/31/2016'
    GROUP BY O.CustomerID, CompanyName
) 
SELECT  CustomerID, 
        CompanyName, 
        TotalOrderAmount,
        CASE
            WHEN TotalOrderAmount >= 0 AND TotalOrderAmount < 1000 THEN 'Low'
            WHEN TotalOrderAmount >= 1000 AND TotalOrderAmount < 5000  THEN 'Medium'
            WHEN TotalOrderAmount >= 5000 AND TotalOrderAmount < 10000  THEN 'High'
            WHEN TotalOrderAmount >= 10000 THEN 'Very High'
        END AS CustomerGroup
FROM Orders2016
ORDER BY CustomerID;

CustomerID,CompanyName,TotalOrderAmount,CustomerGroup
ALFKI,Alfreds Futterkiste,2302.20,Medium
ANATR,Ana Trujillo Emparedados y helados,514.40,Low
ANTON,Antonio Moreno Taquería,660.00,Low
AROUT,Around the Horn,5838.50,High
BERGS,Berglunds snabbköp,8110.55,High
BLAUS,Blauer See Delikatessen,2160.00,Medium
BLONP,Blondesddsl père et fils,730.00,Low
BOLID,Bólido Comidas preparadas,280.00,Low
BONAP,Bon app',7185.90,High
BOTTM,Bottom-Dollar Markets,12227.40,Very High
BSBEV,B's Beverages,2431.00,Medium
CACTU,Cactus Comidas para llevar,1576.80,Medium
CHOPS,Chop-suey Chinese,4429.40,Medium
COMMI,Comércio Mineiro,513.75,Low
CONSH,Consolidated Holdings,931.50,Low
DRACD,Drachenblut Delikatessen,2809.61,Medium
DUMON,Du monde entier,860.10,Low
EASTC,Eastern Connection,9569.31,High
ERNSH,Ernst Handel,42598.90,Very High
FOLKO,Folk och fä HB,15973.85,Very High
FRANK,Frankenversand,5587.00,High
FRANR,France restauration,2252.06,Medium
FRANS,Franchi S.p.A.,1296.00,Medium
FURIB,Furia Bacalhau e Frutos do Mar,68.00,Low
GALED,Galería del gastrónomo,207.50,Low
GODOS,Godos Cocina Típica,7064.05,High
GOURL,Gourmet Lanchonetes,497.00,Low
GREAL,Great Lakes Food Market,10562.58,Very High
HANAR,Hanari Carnes,24238.05,Very High
HILAA,HILARION-Abastos,6132.30,High
HUNGO,Hungry Owl All-Night Grocers,22796.34,Very High
ISLAT,Island Trading,2684.60,Medium
KOENE,Königlich Essen,20204.95,Very High
LACOR,La corne d'abondance,1992.05,Medium
LAMAI,La maison d'Asie,1549.95,Medium
LAUGB,Laughing Bacchus Wine Cellars,187.00,Low
LEHMS,Lehmanns Marktstand,3342.85,Medium
LETSS,Let's Stop N Shop,1450.60,Medium
LILAS,LILA-Supermercado,5994.06,High
LINOD,LINO-Delicateses,10085.60,Very High
LONEP,Lonesome Pine Restaurant,1709.40,Medium
MAGAA,Magazzini Alimentari Riuniti,1693.00,Medium
MAISD,Maison Dewey,5000.20,High
MORGK,Morgenstern Gesundkost,245.00,Low
NORTS,North/South,45.00,Low
OCEAN,Océano Atlántico Ltda.,3031.00,Medium
OLDWO,Old World Delicatessen,5337.65,High
OTTIK,Ottilies Käseladen,3012.70,Medium
PERIC,Pericles Comidas clásicas,1496.00,Medium
PICCO,Piccolo und mehr,4393.75,Medium
PRINI,Princesa Isabel Vinhos,2633.90,Medium
QUEDE,Que Delícia,1353.60,Medium
QUEEN,Queen Cozinha,7007.65,High
QUICK,QUICK-Stop,40526.99,Very High
RANCH,Rancho grande,1694.70,Medium
RATTC,Rattlesnake Canyon Grocery,21725.60,Very High
REGGC,Reggiani Caseifici,4263.00,Medium
RICAR,Ricardo Adocicados,7312.00,High
RICSU,Richter Supermarkt,5497.90,High
ROMEY,Romero y tomillo,726.89,Low
SANTG,Santé Gourmet,3976.75,Medium
SAVEA,Save-a-lot Markets,42806.25,Very High
SEVES,Seven Seas Imports,1630.00,Medium
SIMOB,Simons bistro,244.30,Low
SPECD,Spécialités du monde,2371.00,Medium
SPLIR,Split Rail Beer & Ale,1117.00,Medium
SUPRD,Suprêmes délices,11862.50,Very High
THEBI,The Big Cheese,69.60,Low
THECR,The Cracker Box,326.00,Low
TOMSP,Toms Spezialitäten,910.40,Low
TORTU,Tortuga Restaurante,1874.50,Medium
TRADH,Tradição Hipermercados,4401.62,Medium
TRAIH,Trail's Head Gourmet Provisioners,237.90,Low
VAFFE,Vaffeljernet,4333.50,Medium
VICTE,Victuailles en stock,3022.00,Medium
WANDK,Die Wandernde Kuh,1564.00,Medium
WARTH,Wartian Herkku,300.00,Low
WELLI,Wellington Importadora,1245.00,Medium
WHITC,White Clover Markets,15278.90,Very High
WILMK,Wilman Kala,1987.00,Medium
WOLZA,Wolski Zajazd,1865.10,Medium

### 19\. Customer grouping with percentage

Based on the above query, show all the defined CustomerGroups, and the percentage in each. Sort by the total in each group, in descending order.

In [110]:
WITH Orders2016
AS
(
    SELECT  O.CustomerID, 
        SUM(OD.Quantity * OD.UnitPrice) AS TotalOrderAmount
    FROM Orders AS O
        INNER JOIN OrderDetails AS OD
        ON O.OrderID = OD.OrderID
    WHERE CAST(OrderDate AS DATE) >= '01/01/2016' AND CAST(OrderDate AS DATE) <= '12/31/2016'
    GROUP BY O.CustomerID

),
CustomerGrouping
AS
(
    SELECT  CustomerID,
            TotalOrderAmount,
    CASE
        WHEN TotalOrderAmount >= 0 AND TotalOrderAmount < 1000 THEN 'Low'
        WHEN TotalOrderAmount >= 1000 AND TotalOrderAmount < 5000  THEN 'Medium'
        WHEN TotalOrderAmount >= 5000 AND TotalOrderAmount < 10000  THEN 'High'
        WHEN TotalOrderAmount >= 10000 THEN 'Very High'
    END AS CustomerGroup
    FROM Orders2016
    GROUP BY TotalOrderAmount,CustomerID
)

SELECT  CustomerGroup, 
        COUNT(*) AS TotalInGroup,
        COUNT(*) / CAST((SELECT COUNT(*) FROM CustomerGrouping) AS FLOAT) AS PercentageInGroup
FROM CustomerGrouping
GROUP BY CustomerGroup
ORDER BY PercentageInGroup DESC;

CustomerGroup,TotalInGroup,PercentageInGroup
Medium,35,0.43209876543209874
Low,20,0.24691358024691357
High,13,0.16049382716049382
Very High,13,0.16049382716049382

### 20\. Customer grouping-flexible

The VP of sales now wants complete flexibility in grouping the customers based on the dollar amount they ordered and the order dates.  Write the SQL to accommodate him.

In [119]:
DECLARE @BeginOrderDate AS DATE
DECLARE @EndOrderDate AS DATE
DECLARE @Low AS INT
DECLARE @Medium AS INT
DECLARE @High AS INT

--Set values here
------------------------------------------------------------------------------------------------------------------
SET @BeginOrderDate = '01/01/2016';
SET @EndOrderDate = '12/31/2016';
SET @Low = 1000;
SET @Medium = 5000;
SET @High = 10000;
------------------------------------------------------------------------------------------------------------------
WITH Orders2016
AS
(
    SELECT  O.CustomerID AS CustomerID, 
        CompanyName,
        SUM(Quantity * UnitPrice) AS TotalOrderAmount
    FROM Orders AS O
        INNER JOIN OrderDetails AS OD
            ON O.OrderID = OD.OrderID
        INNER JOIN Customers AS C
        ON O.CustomerID = C.CustomerID
    WHERE CAST(OrderDate AS DATE) >= @BeginOrderDate AND CAST(OrderDate AS DATE) <= @EndOrderDate
    GROUP BY O.CustomerID, CompanyName
)
SELECT  CustomerID,
        CompanyName,
        TotalOrderAmount,
        CASE
            WHEN TotalOrderAmount >= 0 AND TotalOrderAmount < @Low THEN 'Low'
            WHEN TotalOrderAmount >= @Low AND TotalOrderAmount < @Medium  THEN 'Medium'
            WHEN TotalOrderAmount >= @Medium AND TotalOrderAmount < @High  THEN 'High'
            WHEN TotalOrderAmount >= @High THEN 'Very High'
        END AS CustomerGroup
        FROM Orders2016;

CustomerID,CompanyName,TotalOrderAmount,CustomerGroup
ALFKI,Alfreds Futterkiste,2302.20,Medium
ANATR,Ana Trujillo Emparedados y helados,514.40,Low
ANTON,Antonio Moreno Taquería,660.00,Low
AROUT,Around the Horn,5838.50,High
BERGS,Berglunds snabbköp,8110.55,High
BLAUS,Blauer See Delikatessen,2160.00,Medium
BLONP,Blondesddsl père et fils,730.00,Low
BOLID,Bólido Comidas preparadas,280.00,Low
BONAP,Bon app',7185.90,High
BOTTM,Bottom-Dollar Markets,12227.40,Very High
BSBEV,B's Beverages,2431.00,Medium
CACTU,Cactus Comidas para llevar,1576.80,Medium
CHOPS,Chop-suey Chinese,4429.40,Medium
COMMI,Comércio Mineiro,513.75,Low
CONSH,Consolidated Holdings,931.50,Low
DRACD,Drachenblut Delikatessen,2809.61,Medium
DUMON,Du monde entier,860.10,Low
EASTC,Eastern Connection,9569.31,High
ERNSH,Ernst Handel,42598.90,Very High
FOLKO,Folk och fä HB,15973.85,Very High
FRANK,Frankenversand,5587.00,High
FRANR,France restauration,2252.06,Medium
FRANS,Franchi S.p.A.,1296.00,Medium
FURIB,Furia Bacalhau e Frutos do Mar,68.00,Low
GALED,Galería del gastrónomo,207.50,Low
GODOS,Godos Cocina Típica,7064.05,High
GOURL,Gourmet Lanchonetes,497.00,Low
GREAL,Great Lakes Food Market,10562.58,Very High
HANAR,Hanari Carnes,24238.05,Very High
HILAA,HILARION-Abastos,6132.30,High
HUNGO,Hungry Owl All-Night Grocers,22796.34,Very High
ISLAT,Island Trading,2684.60,Medium
KOENE,Königlich Essen,20204.95,Very High
LACOR,La corne d'abondance,1992.05,Medium
LAMAI,La maison d'Asie,1549.95,Medium
LAUGB,Laughing Bacchus Wine Cellars,187.00,Low
LEHMS,Lehmanns Marktstand,3342.85,Medium
LETSS,Let's Stop N Shop,1450.60,Medium
LILAS,LILA-Supermercado,5994.06,High
LINOD,LINO-Delicateses,10085.60,Very High
LONEP,Lonesome Pine Restaurant,1709.40,Medium
MAGAA,Magazzini Alimentari Riuniti,1693.00,Medium
MAISD,Maison Dewey,5000.20,High
MORGK,Morgenstern Gesundkost,245.00,Low
NORTS,North/South,45.00,Low
OCEAN,Océano Atlántico Ltda.,3031.00,Medium
OLDWO,Old World Delicatessen,5337.65,High
OTTIK,Ottilies Käseladen,3012.70,Medium
PERIC,Pericles Comidas clásicas,1496.00,Medium
PICCO,Piccolo und mehr,4393.75,Medium
PRINI,Princesa Isabel Vinhos,2633.90,Medium
QUEDE,Que Delícia,1353.60,Medium
QUEEN,Queen Cozinha,7007.65,High
QUICK,QUICK-Stop,40526.99,Very High
RANCH,Rancho grande,1694.70,Medium
RATTC,Rattlesnake Canyon Grocery,21725.60,Very High
REGGC,Reggiani Caseifici,4263.00,Medium
RICAR,Ricardo Adocicados,7312.00,High
RICSU,Richter Supermarkt,5497.90,High
ROMEY,Romero y tomillo,726.89,Low
SANTG,Santé Gourmet,3976.75,Medium
SAVEA,Save-a-lot Markets,42806.25,Very High
SEVES,Seven Seas Imports,1630.00,Medium
SIMOB,Simons bistro,244.30,Low
SPECD,Spécialités du monde,2371.00,Medium
SPLIR,Split Rail Beer & Ale,1117.00,Medium
SUPRD,Suprêmes délices,11862.50,Very High
THEBI,The Big Cheese,69.60,Low
THECR,The Cracker Box,326.00,Low
TOMSP,Toms Spezialitäten,910.40,Low
TORTU,Tortuga Restaurante,1874.50,Medium
TRADH,Tradição Hipermercados,4401.62,Medium
TRAIH,Trail's Head Gourmet Provisioners,237.90,Low
VAFFE,Vaffeljernet,4333.50,Medium
VICTE,Victuailles en stock,3022.00,Medium
WANDK,Die Wandernde Kuh,1564.00,Medium
WARTH,Wartian Herkku,300.00,Low
WELLI,Wellington Importadora,1245.00,Medium
WHITC,White Clover Markets,15278.90,Very High
WILMK,Wilman Kala,1987.00,Medium
WOLZA,Wolski Zajazd,1865.10,Medium

### 21\. Countries with suppliers or customers

Some employees are planning a business trip, and would like to visit as many suppliers and customers as possible. For their planning, they'd like to see a list of all countries where suppliers and/or customers are based.

In [123]:
SELECT Country
FROM Customers

UNION

SELECT Country
FROM Suppliers;

Country
Argentina
Australia
Austria
Belgium
Brazil
Canada
Denmark
Finland
France
Germany
Ireland
Italy
Japan
Mexico
Netherlands
Norway
Poland
Portugal
Singapore
Spain
Sweden
Switzerland
UK
USA
Venezuela

### 22\. Countries with suppliers or customers, version 2

The employees going on the business trip don't want just a raw list of countries, they want more details, we'd like to see output with a column for SupplierCountry and a CustomerCountry column.

In [132]:
SELECT DISTINCT Suppliers.Country AS SupplierCountry, Customers.Country AS CustomerCountry
FROM Suppliers
    FULL OUTER JOIN Customers
        ON Suppliers.Country = Customers.Country;

--With CTEs
WITH SupplierCountries 
AS
(
    SELECT DISTINCT Country FROM Suppliers
),
CustomerCountries
AS
(
    SELECT DISTINCT Country FROM Customers
)

SELECT SupplierCountries.Country, CustomerCountries.Country
FROM SupplierCountries
    FULL OUTER JOIN CustomerCountries
        ON SupplierCountries.Country = CustomerCountries.Country;

SupplierCountry,CustomerCountry
NULL,Argentina
NULL,Austria
NULL,Belgium
NULL,Ireland
NULL,Mexico
NULL,Poland
NULL,Portugal
NULL,Switzerland
NULL,Venezuela
Australia,NULL
Brazil,Brazil
Canada,Canada
Denmark,Denmark
Finland,Finland
France,France
Germany,Germany
Italy,Italy
Japan,NULL
Netherlands,NULL
Norway,Norway
Singapore,NULL
Spain,Spain
Sweden,Sweden
UK,UK
USA,USA

Country,Country
NULL,Argentina
Australia,NULL
NULL,Austria
NULL,Belgium
Brazil,Brazil
Canada,Canada
Denmark,Denmark
Finland,Finland
France,France
Germany,Germany
NULL,Ireland
Italy,Italy
Japan,NULL
NULL,Mexico
Netherlands,NULL
Norway,Norway
NULL,Poland
NULL,Portugal
Singapore,NULL
Spain,Spain
Sweden,Sweden
NULL,Switzerland
UK,UK
USA,USA
NULL,Venezuela

### 23\. Countries with suppliers or customers, version 3

The output in the above practice problem is improved, but it's still not ideal. What we'd really like to see is the country name, the total suppliers, and the total customers.

In [164]:
WITH SupplierCount
AS
(
    SELECT Country, COUNT(*) AS TotalSuppliers
    FROM Suppliers
    GROUP BY Country
),
CustomerCount
AS
(
    SELECT Country, COUNT(*) AS TotalCustomers
    FROM Customers
    GROUP BY Country
)

SELECT  COALESCE(SC.Country, CC.Country) AS Country,
        COALESCE(SC.TotalSuppliers, 0) AS TotalSuppliers, 
        COALESCE(CC.TotalCustomers, 0) AS TotalCustomers
FROM SupplierCount AS SC
    FULL OUTER JOIN CustomerCount AS CC
        ON SC.Country = CC.Country;

Country,TotalSuppliers,TotalCustomers
Argentina,0,3
Australia,2,0
Austria,0,2
Belgium,0,2
Brazil,1,9
Canada,2,3
Denmark,1,2
Finland,1,2
France,3,11
Germany,3,11
Ireland,0,1
Italy,2,3
Japan,2,0
Mexico,0,5
Netherlands,1,0
Norway,1,1
Poland,0,1
Portugal,0,2
Singapore,1,0
Spain,1,5
Sweden,2,2
Switzerland,0,2
UK,2,7
USA,4,13
Venezuela,0,4

### 24\. First order in each country

Looking at the orders table - show details for each order that was the first in that particular country, ordered by OrderID. So for each country there should be one row. That row should contain the earliest order for that country, with the associated ShipCountry, CustomerID, OrderID, and OrderDate.

In [170]:
WITH CountryFirstOrder
AS
(
    SELECT ShipCountry, MIN(OrderDate) AS FirstOrderDate
    FROM Orders
    GROUP BY ShipCountry
)

SELECT CFO.ShipCountry, CustomerID, OrderID, CAST(OrderDate AS DATE) AS OrderDate
FROM Orders AS O
    INNER JOIN CountryFirstOrder AS CFO
        ON O.OrderDate = CFO.FirstOrderDate;
GO

--With windows function
WITH CountryOrderRow
AS
(
    SELECT ShipCountry, CustomerID, OrderID, OrderDate, ROW_NUMBER() OVER(PARTITION BY ShipCountry ORDER BY OrderDate) AS RowPerOrder
    FROM Orders
)

SELECT ShipCountry, CustomerID, OrderID, CAST(OrderDate AS DATE) AS OrderDate
FROM CountryOrderRow
WHERE RowPerOrder = 1;

ShipCountry,CustomerID,OrderID,OrderDate
France,VINET,10248,2014-07-04
Germany,TOMSP,10249,2014-07-05
Brazil,HANAR,10250,2014-07-08
Belgium,SUPRD,10252,2014-07-09
Switzerland,CHOPS,10254,2014-07-11
Venezuela,HILAA,10257,2014-07-16
Austria,ERNSH,10258,2014-07-17
Mexico,CENTC,10259,2014-07-18
USA,RATTC,10262,2014-07-22
Sweden,FOLKO,10264,2014-07-24
Finland,WARTH,10266,2014-07-26
Italy,MAGAA,10275,2014-08-07
Spain,ROMEY,10281,2014-08-14
UK,BSBEV,10289,2014-08-26
Ireland,HUNGO,10298,2014-09-05
Portugal,FURIB,10328,2014-10-14
Canada,MEREP,10332,2014-10-17
Denmark,SIMOB,10341,2014-10-29
Poland,WOLZA,10374,2014-12-05
Norway,SANTG,10387,2014-12-18
Argentina,OCEAN,10409,2015-01-09

ShipCountry,CustomerID,OrderID,OrderDate
Argentina,OCEAN,10409,2015-01-09
Austria,ERNSH,10258,2014-07-17
Belgium,SUPRD,10252,2014-07-09
Brazil,HANAR,10250,2014-07-08
Canada,MEREP,10332,2014-10-17
Denmark,SIMOB,10341,2014-10-29
Finland,WARTH,10266,2014-07-26
France,VINET,10248,2014-07-04
Germany,TOMSP,10249,2014-07-05
Ireland,HUNGO,10298,2014-09-05
Italy,MAGAA,10275,2014-08-07
Mexico,CENTC,10259,2014-07-18
Norway,SANTG,10387,2014-12-18
Poland,WOLZA,10374,2014-12-05
Portugal,FURIB,10328,2014-10-14
Spain,ROMEY,10281,2014-08-14
Sweden,FOLKO,10264,2014-07-24
Switzerland,CHOPS,10254,2014-07-11
UK,BSBEV,10289,2014-08-26
USA,RATTC,10262,2014-07-22
Venezuela,HILAA,10257,2014-07-16

### 25\. Customers with multiple orders in 5 day period

There are some customers for whom freight is a major expense when ordering. However, by batching up their orders, and making one larger order instead of multiple smaller orders in a short period of time, they could reduce their freight costs significantly.

  

Show those customers who have made more than 1 order in a 5 day period. The sales people will use this to help their customers reduce their freight costs.

In [196]:
SELECT  InitialOrder.CustomerID AS CustomerID,
        InitialOrder.OrderID AS InitialOrderID,
        CAST(InitialOrder.OrderDate AS DATE) AS InitialOrderDate,
        NextOrder.OrderID AS NextOrderID,
        CAST(NextOrder.OrderDate AS DATE) AS NextOrderDate,
        DATEDIFF(DAY, InitialOrder.OrderDate, NextOrder.OrderDate) AS DaysBetweenOrders
FROM Orders AS InitialOrder
    INNER JOIN Orders AS NextOrder
       ON InitialOrder.CustomerID = NextOrder.CustomerID
       AND InitialOrder.OrderID < NextOrder.OrderID
GROUP BY  InitialOrder.CustomerID,
        InitialOrder.OrderID,
        InitialOrder.OrderDate,
        NextOrder.OrderID,
        NextOrder.OrderDate
HAVING DATEDIFF(DAY, InitialOrder.OrderDate, NextOrder.OrderDate) < 6
ORDER BY InitialOrder.CustomerID, InitialOrder.OrderID;

CustomerID,InitialOrderID,InitialOrderDate,NextOrderID,NextOrderDate,DaysBetweenOrders
ANTON,10677,2015-09-22,10682,2015-09-25,3
AROUT,10741,2015-11-14,10743,2015-11-17,3
BERGS,10278,2014-08-12,10280,2014-08-14,2
BERGS,10444,2015-02-12,10445,2015-02-13,1
BERGS,10866,2016-02-03,10875,2016-02-06,3
BONAP,10730,2015-11-05,10732,2015-11-06,1
BONAP,10871,2016-02-05,10876,2016-02-09,4
BONAP,10932,2016-03-06,10940,2016-03-11,5
BOTTM,10410,2015-01-10,10411,2015-01-10,0
BOTTM,10944,2016-03-12,10949,2016-03-13,1
BOTTM,10975,2016-03-25,10982,2016-03-27,2
BOTTM,11045,2016-04-23,11048,2016-04-24,1
BSBEV,10538,2015-05-15,10539,2015-05-16,1
BSBEV,10943,2016-03-11,10947,2016-03-13,2
EASTC,11047,2016-04-24,11056,2016-04-28,4
ERNSH,10402,2015-01-02,10403,2015-01-03,1
ERNSH,10771,2015-12-10,10773,2015-12-11,1
ERNSH,10771,2015-12-10,10776,2015-12-15,5
ERNSH,10773,2015-12-11,10776,2015-12-15,4
ERNSH,10968,2016-03-23,10979,2016-03-26,3
ERNSH,11008,2016-04-08,11017,2016-04-13,5
FOLKO,10977,2016-03-26,10980,2016-03-27,1
FOLKO,10980,2016-03-27,10993,2016-04-01,5
FOLKO,10993,2016-04-01,11001,2016-04-06,5
FRANK,10670,2015-09-16,10675,2015-09-19,3
GODOS,10872,2016-02-05,10874,2016-02-06,1
GREAL,10616,2015-07-31,10617,2015-07-31,0
HANAR,10250,2014-07-08,10253,2014-07-10,2
HANAR,10922,2016-03-03,10925,2016-03-04,1
HILAA,10486,2015-03-26,10490,2015-03-31,5
HILAA,10957,2016-03-18,10960,2016-03-19,1
ISLAT,10315,2014-09-26,10318,2014-10-01,5
ISLAT,10318,2014-10-01,10321,2014-10-03,2
KOENE,10323,2014-10-07,10325,2014-10-09,2
KOENE,10456,2015-02-25,10457,2015-02-25,0
LACOR,10972,2016-03-24,10973,2016-03-24,0
LEHMS,10534,2015-05-12,10536,2015-05-14,2
LEHMS,10592,2015-07-08,10593,2015-07-09,1
LILAS,11065,2016-05-01,11071,2016-05-05,4
LINOD,10838,2016-01-19,10840,2016-01-19,0
LONEP,10662,2015-09-09,10665,2015-09-11,2
MAISD,10892,2016-02-17,10896,2016-02-19,2
MEREP,10618,2015-08-01,10619,2015-08-04,3
QUEEN,10913,2016-02-26,10914,2016-02-27,1
QUICK,10285,2014-08-20,10286,2014-08-21,1
QUICK,10691,2015-10-03,10694,2015-10-06,3
QUICK,10991,2016-04-01,10996,2016-04-02,1
RATTC,10314,2014-09-25,10316,2014-09-27,2
RICSU,10751,2015-11-24,10758,2015-11-28,4
ROMEY,10281,2014-08-14,10282,2014-08-15,1
SAVEA,10393,2014-12-25,10398,2014-12-30,5
SAVEA,10603,2015-07-18,10607,2015-07-22,4
SAVEA,10711,2015-10-21,10713,2015-10-22,1
SAVEA,10711,2015-10-21,10714,2015-10-22,1
SAVEA,10713,2015-10-22,10714,2015-10-22,0
SAVEA,10983,2016-03-27,10984,2016-03-30,3
SAVEA,11030,2016-04-17,11031,2016-04-17,0
SEVES,10800,2015-12-26,10804,2015-12-30,4
SUPRD,10841,2016-01-20,10846,2016-01-22,2
SUPRD,11035,2016-04-20,11038,2016-04-21,1
TRADH,10830,2016-01-13,10834,2016-01-15,2
TRADH,10834,2016-01-15,10839,2016-01-19,4
TRAIH,10574,2015-06-19,10577,2015-06-23,4
VICTE,10806,2015-12-31,10814,2016-01-05,5
VICTE,10843,2016-01-21,10850,2016-01-23,2
VINET,10737,2015-11-11,10739,2015-11-12,1
WARTH,10412,2015-01-13,10416,2015-01-16,3
WELLI,10803,2015-12-30,10809,2016-01-01,2
WELLI,10900,2016-02-20,10905,2016-02-24,4
WHITC,10693,2015-10-06,10696,2015-10-08,2
WILMK,10873,2016-02-06,10879,2016-02-10,4

### 26\. Customers with multiple orders in 5 day period, version 2

There is another way to solve the problem above, using window functions.

In [211]:
WITH NextOrderDate
AS
(
    SELECT  CustomerID, 
        CAST(OrderDate AS DATE) AS OrderDate,
        CAST(LEAD(OrderDate, 1) OVER(PARTITION BY CustomerID ORDER BY OrderDate) AS DATE) AS NextOrderDate
    FROM Orders
   
)

SELECT CustomerID, OrderDate, NextOrderDate, DATEDIFF(DAY, OrderDate, NextOrderDate) AS DaysBetweenOrders
FROM NextOrderDate
WHERE DATEDIFF(DAY, OrderDate, NextOrderDate) < 6
ORDER BY CustomerID;

CustomerID,OrderDate,NextOrderDate,DaysBetweenOrders
ANTON,2015-09-22,2015-09-25,3
AROUT,2015-11-14,2015-11-17,3
BERGS,2014-08-12,2014-08-14,2
BERGS,2015-02-12,2015-02-13,1
BERGS,2016-02-03,2016-02-06,3
BONAP,2015-11-05,2015-11-06,1
BONAP,2016-02-05,2016-02-09,4
BONAP,2016-03-06,2016-03-11,5
BOTTM,2015-01-10,2015-01-10,0
BOTTM,2016-03-12,2016-03-13,1
BOTTM,2016-03-25,2016-03-27,2
BOTTM,2016-04-23,2016-04-24,1
BSBEV,2015-05-15,2015-05-16,1
BSBEV,2016-03-11,2016-03-13,2
EASTC,2016-04-24,2016-04-28,4
ERNSH,2015-01-02,2015-01-03,1
ERNSH,2015-12-10,2015-12-11,1
ERNSH,2015-12-11,2015-12-15,4
ERNSH,2016-03-23,2016-03-26,3
ERNSH,2016-04-08,2016-04-13,5
FOLKO,2016-03-26,2016-03-27,1
FOLKO,2016-03-27,2016-04-01,5
FOLKO,2016-04-01,2016-04-06,5
FRANK,2015-09-16,2015-09-19,3
GODOS,2016-02-05,2016-02-06,1
GREAL,2015-07-31,2015-07-31,0
HANAR,2014-07-08,2014-07-10,2
HANAR,2016-03-03,2016-03-04,1
HILAA,2015-03-26,2015-03-31,5
HILAA,2016-03-18,2016-03-19,1
ISLAT,2014-09-26,2014-10-01,5
ISLAT,2014-10-01,2014-10-03,2
KOENE,2014-10-07,2014-10-09,2
KOENE,2015-02-25,2015-02-25,0
LACOR,2016-03-24,2016-03-24,0
LEHMS,2015-05-12,2015-05-14,2
LEHMS,2015-07-08,2015-07-09,1
LILAS,2016-05-01,2016-05-05,4
LINOD,2016-01-19,2016-01-19,0
LONEP,2015-09-09,2015-09-11,2
MAISD,2016-02-17,2016-02-19,2
MEREP,2015-08-01,2015-08-04,3
QUEEN,2016-02-26,2016-02-27,1
QUICK,2014-08-20,2014-08-21,1
QUICK,2015-10-03,2015-10-06,3
QUICK,2016-04-01,2016-04-02,1
RATTC,2014-09-25,2014-09-27,2
RICSU,2015-11-24,2015-11-28,4
ROMEY,2014-08-14,2014-08-15,1
SAVEA,2014-12-25,2014-12-30,5
SAVEA,2015-07-18,2015-07-22,4
SAVEA,2015-10-21,2015-10-22,1
SAVEA,2015-10-22,2015-10-22,0
SAVEA,2016-03-27,2016-03-30,3
SAVEA,2016-04-17,2016-04-17,0
SEVES,2015-12-26,2015-12-30,4
SUPRD,2016-01-20,2016-01-22,2
SUPRD,2016-04-20,2016-04-21,1
TRADH,2016-01-13,2016-01-15,2
TRADH,2016-01-15,2016-01-19,4
TRAIH,2015-06-19,2015-06-23,4
VICTE,2015-12-31,2016-01-05,5
VICTE,2016-01-21,2016-01-23,2
VINET,2015-11-11,2015-11-12,1
WARTH,2015-01-13,2015-01-16,3
WELLI,2015-12-30,2016-01-01,2
WELLI,2016-02-20,2016-02-24,4
WHITC,2015-10-06,2015-10-08,2
WILMK,2016-02-06,2016-02-10,4